@font-face{
    font-family: 'MonFont';

    src: url("Marioline Barnard.ttf");
}

p {
     text-align: left;
 }

body {
    /*background : url("../media/pomme.jpg") no-repeat center; MODIFICATION 2*/
    width : 100%;
    margin : auto;
}
a {
    font-family: MonFont;
    text-decoration-line: none;
}
a{
    text-decoration-line: underline;
}
.liensRouge:hover {
    color: red;
}
#lienJaune {
    color : yellow;
}


